{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
    <div class="row justify-content-center mb-3">
        {% for articulo in articulos %}
        <div class="col-12 col-md-8" id="container">
            <a href="{{ path('app_main_show', {'id': articulo.id}) }}">
                <h1 class="text-center border-top">{{ articulo.title }}</h1>
            </a>
            <p>{{ articulo.contenido }}</p>
            {% if articulo.imagen %}
                <img class="mx-auto d-block" src="{{ asset('imagenes/' ~ articulo.imagen) }}" alt="imagen" width="80%">
            {% endif %}
            <div class="row justify-content-around">
                <p class="col-auto">Autor: {{ articulo.user }}</p>
                <p class="col-auto">Fecha: {{ articulo.fecha ? articulo.fecha|date('Y-m-d H:i:s') : '' }}</p>
            </div>
        </div>
        {% else %}
            <h3 class="text-center">No se han encontrado articulos</h3>
        {% endfor %}
        </div>
    </div>

{% endblock %}