{% extends 'base.html.twig' %}

{% block title %}Articulos{% endblock %}

{% block body %}
    <h1>Articulos</h1>

    <table class="table" id="container">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ articulo.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ articulo.title }}</td>
            </tr>
            <tr>
                <th>Contenido</th>
                <td>{{ articulo.contenido }}</td>
            </tr>
            <tr>
                <th>Fecha</th>
                <td>{{ articulo.fecha ? articulo.fecha|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Visible</th>
                <td>{{ articulo.visible ? 'Yes' : 'No' }}</td>
            </tr>
            <tr>
                <th>Imagen</th>
                <td>{{ articulo.imagen }}</td>
            </tr>
        </tbody>
    </table>

    <div class="row">
        <a class="btn btn-primary" href="{{ path('app_articulos_edit', {'id': articulo.id}) }}">Editar</a>
        {{ include('articulos/_delete_form.html.twig') }}
    </div>
{% endblock %}
