<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{{ path('app_main') }}">Tareas</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav mr-auto">
      {% if is_granted('ROLE_USER') %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('app_tarea_new') }}">
            Crear
          </a>
        </li>
      {% endif %}
      {% if is_granted('ROLE_ADMIN') %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('app_user_index') }}">
            Listado de usuarios
          </a>
        </li>
      {% endif %}
      {% if app.user %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('app_logout') }}">
            Cerrar sesion
          </a>
        </li>
      {% else %}
        <li class="nav-item active">
          <a class="nav-link" href="{{ path('app_login') }}">
            Login
          </a>
        </li>
      {% endif %}
    </ul>
  </div>
</nav>